<launch>

<arg name="namesp" default="volta1"/>
<param name="tf_prefix" value="$(arg namesp)"/>
<arg name="scan_topic" default="/$(arg namesp)/scan" />

<group ns="$(arg namesp)">

<arg name="odom_frame" default="/$(arg namesp)/odom"/>
<arg name="base_frame" default="/$(arg namesp)/base_link"/>
<arg name="map_frame" default="/$(arg namesp)/map"/>

    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping">
        <rosparam file="$(find volta_navigation)/config/gmapping.yaml" command="load"/>
        <param name="tf_prefix" value=""/>
        <param name="map_frame" value="$(arg map_frame)"/>
        <param name="odom_frame" value="$(arg odom_frame)"/>
        <param name="base_frame" value="$(arg base_frame)"/>
        <remap from="scan" to="$(arg scan_topic)"/>
        
        <!-- <remap from="map_updates"> -->
    </node>

</group>
</launch>
