<launch>
  <!-- Arguments -->
  <arg name="namesp" default="volta1"/>
  <arg name="odom_topic" default="/$(arg namesp)/odom" />
  <arg name="move_forward_only" default="false"/>

  <!-- move_base -->
  <group ns="$(arg namesp)">
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

      <param name="base_global_planner" value="global_planner/GlobalPlanner"/>
      <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />

      <rosparam file="$(find multivolta_exploration)/config/costmap2.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find multivolta_exploration)/config/costmap2.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find volta_navigation)/config/costmap_local.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find volta_navigation)/config/costmap_global.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find volta_navigation)/config/global_planner.yaml" command="load" />
      <rosparam file="$(find volta_navigation)/config/local_planner.yaml" command="load" />

      <param name="global_costmap/global_frame" value="$(arg namesp)/map"/>
      <param name="global_costmap/robot_base_frame" value="$(arg namesp)/base_link"/>
      <param name="global_costmap/obstacles_laser/laser/sensor_frame" value="$(arg namesp)/lidar"/>
      <param name="global_costmap/obstacles_laser/laser/topic" value="/$(arg namesp)/scan"/>
      <param name="local_costmap/global_frame" value="$(arg namesp)/odom"/>
      <param name="local_costmap/robot_base_frame" value="$(arg namesp)/base_link"/>
      <param name="local_costmap/obstacles_laser/laser/sensor_frame" value="$(arg namesp)/lidar"/>
      <param name="local_costmap/obstacles_laser/laser/topic" value="/$(arg namesp)/scan"/>
    
      <!--<param name="DWAPlannerROS/odom_topic" value="/$(arg namesp)/odom"/>
      <param name="DWAPlannerROS/map_frame" value="$(arg namesp)/map"/>-->

      <remap from="odom" to="$(arg odom_topic)"/>
    </node>
  </group>
</launch>
